html, body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}
body {
	min-height: 100vh;
	font-size: 16px;
	box-sizing: border-box;
	background: #fffbca;
	background: -moz-linear-gradient(top, #fffbca 0%, #ffffff 54%);
	background: -webkit-linear-gradient(top, #fffbca 0%,#ffffff 54%);
	background: linear-gradient(to bottom, #fffbca 0%,#ffffff 54%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbca', endColorstr='#ffffff',GradientType=0 );
}
.container {
	box-sizing: border-box;
	margin:auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
.small {
	font-size: 14px;	
	color: #444;
}
@media screen and (min-width:768px) {
	.container {
		max-width: 720px;
	}
}
.svg-logo {
	max-width: 300px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	cursor:pointer;
	user-select: none;
}
.preloader {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
}
.inputWrapper .preloader {
	right: 38px;
}
.text-tree, .text-vitamin {
	font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}
.text-tree {
    font-size: 110px;

}
.text-vitamin {
    font-size: 173px;
}