/*.content-wrap {
	border: 1px solid #FDCB34;
	padding: 20px;
}*/
.autocomplete-content-header {
	padding: 20px 0;
}
.autocomplete-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
    border: 1px solid #FDCB34;	
    padding: 20px;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
}
.autocomplete-content .preloader {
	position: relative;
	width: 50px;
	height: 50px;
	/*margin: 0 auto;*/
}
.products {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-items: center;
	text-align: center;

}
.products > div {
	margin-right: 5px;
}
.products .product-img {
	width: 50px;
	height: 50px;
}