.autocomplete-input {
	border-radius: 40px;
	border: 1px solid #FDCB34;
	height: 40px;
	width: 100%;
	padding: 0 20px;
	outline: none;
	font-size: 1.5rem;
	font-weight: bold;
}
div[role="combobox"] {
	/*width: 400px;*/
}
.autocomplete-ul {
	padding: 0;
}
.autocomplete-ul li {
	font-size: 2rem;
	list-style: none;
	line-height: .5;
}
.autocomplete-ul .small {
	font-size: 16px;
}